@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background: #FFFFFF repeat-x;
	font-size: 12px Aria, "宋体";
	width: 1400px;
	margin: 0 auto;
}

.header {
	height: 56px;
	background: url(../image/header_bg.jpg);
	position: relative;
}

.header ul {
	position: absolute;
	left: 584px;
	top: 30px;
}

.header ul li {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
}

.header ul li a {
	color: #FFFFFF;
}

.nav {
	width: 166px;
	height: 754px;
	background: #e3effb;
	position: relative;
	float: left;
}

.nav ul {
	margin: -10px 0 0 0;
	position: absolute;
	left: 7px;
	top: 28px;
}

.nav ul li {
	background: url(../image/menu_bt.jpg);
	width: 150px;
	height: 22px;
	margin: 10px 0 0 0;
	text-align: center;
	line-height: 25px;
}

.nav ul li a {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.search form {
	margin: 50px 0 0 560px;
}

.search form .text {
	width: 250px;
	height: 30px;
	font-size: 16px;
	border: solid 1px #0080c0;
	float: left;
	text-indent: 6px;
}

.search form .btn {
	width: 60px;
	height: 32px;
	border: solid 1px #0080c0;
	background: #0080c0;
	color: white;
	float: left;
}

.list {
	border: solid 1px #c0c0c0;
	width: 1000px;
	height: 500px;
	margin: 150px 0 0 250px;
	overflow: auto;
	font-size: 16px;
}

.btnAdd {
	width: 80px;
	height: 32px;
	margin: 50px 0 0 405px;
}

.btnDel {
	width: 80px;
	height: 32px;
	margin: 50px 0 0 50px;
}

.btnUpt {
	width: 80px;
	height: 32px;
	margin: 50px 0 0 50px;
}