@CHARSET "UTF-8";
div.hot{width:1080px;height:650px;margin:0 auto;border:solid 1px #c8c9c9;margin-top:30px;}

div.hot .kuang1{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang1 .pic1{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang2{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang2 .pic2{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang3{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang3 .pic3{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang4{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang4 .pic4{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang5{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang5 .pic5{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang6{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang6 .pic6{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang7{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang7 .pic7{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang8{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang8 .pic8{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}

div.hot .kuang9{width:320px; height:200px;background:;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 30px;}
div.hot .kuang9 .pic9{width:130px;height:180px;float:left;border:solid 1px #c8c9c9;margin:10px 0 0 10px;}