*{
	margin: 0 0;
	text-align: center;
}

.content{
	margin: 0 auto;
	width:1280px;
}

#kuangjia{
	float: left;
	margin-right: 1%;
}

.left {
	background-color:#c81623;
	font-size:24px;
	width:150px;
	height: 450px;
}
.left ul{
	margin-top: 4%;
}
.left a{
	display: block;
	color:white;
	margin-left:2px;
	overflow: hidden;
	height:24px;
	text-align: left;
	text-indent: 5px;
	font-size: 16px;
}
.left a:HOVER{
	background-color: white;
	color: #c81623;
}

.lunbo{
	width:900px;
	height: 450px;
}

img { border: 0px; }
.slides { width: 900px; height: 450px; overflow: hidden; position: relative; }
.slide-pic { margin: 0px; padding: 0px; width: 900px; overflow: hidden; list-style: none; }
.slide-pic img { width: 900px; height: 450px; }
.slide-pic li { display: none; }
.slide-pic li.cur { display: block; }
.slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
.slide-li li { margin: 0px; padding: 0px; width: 180px; height: 8px; float: left; overflow: hidden; list-style: none; }
.slide-li a { width: 190px; height: 10px; color: #000; font-size: 12px; display: block; }
.slide-li a:hover { color: #F00; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
.op li.cur { background: #666666; }
.slide-txt span { display: none; }

.right{
	background-color: green;
	width:191px;
	height: 450px;
}

.right ul{
	margin-top: 4%;
}

.right a{
	display: block;
	color:white;
	margin-left:2px;
	overflow: hidden;
	height:24px;
	text-align: left;
	text-indent: 5px;
	font-size: 16px;
}

.right a:HOVER{
	background-color: white;
	color: #c81623;
}


.main{
	display: block;
	float: left;
	width:1280px;
	margin-top: 1%;
}

.main h1{
	width: 15%;
	margin-bottom: 1%;
}
.main h1 a{
	color: #333;
}
.main h1 a:ACTIVE{
	color: #b1191a;
}


.main li{
	border:1px solid #f1f1f1;
	border-top:2px solid #b1191a;
	height: 500px;
	margin-bottom: 2%;
}

.main li .booklist{
	float: left;
	margin-top:2%;
	margin-right:1%;
	margin-left:1%;
	width: 23%;
	height: 45%;
}


.main li .booklist .pic1{
	width:130px;
	height:180px;
	float:left;
	border:solid 1px #c8c9c9;
	margin:10px 0 0 10px;
}

.main li .booklist .title{
	width: 145px;
	height:90px;
	margin:10px 0 0 2%;
	float:left;
	font-size: 18px; 
	display: block; 
	overflow: hidden;
}

.main li .booklist .author{
	width: 130px; 
	height:50px;
	display: block; 
	font-size: 14px;
	margin:4% 0 0 2%;
	float:left;
	overflow:hidden;
}

.main li .booklist .unitprice{
	width:130px;
	height:24px;
	color: red;
	margin:2% 0 0 2%;
	float: left;
}