@CHARSET "UTF-8" ;

.content{width:600px;height:600px;background:#ffffff;margin:0 auto;}

.content ul li{width:280px;;letter-spacing:2px;margin:10px 0 0 50px;}

.content ul li .right{float:right;}

